# --- Python Bytecode ---
__pycache__/
*.py[cod]
*$py.class

# --- Virtual Environments ---
venv/
.venv/
env/
bin/
include/
lib/

# --- Environment Variables ---
.env
.flaskenv

# --- OS Specific Clutter --- 
.DS_Store
Thumbs.db

